.dark-mode-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;

  &__icon {
    width: 20px;
    height: 20px;
    background-color: var(--wp--preset--color--background);
    color: var(--wp--preset--color--text);
    padding: 0.375rem;
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--wp--preset--color--text-secondary);
  }
}
