/* Basic theme styles */
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Driftline";
    src: url('../fonts/Driftline.ttf') format('truetype');
}

:root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wp-block-post-content {
    width: 100%;
}

.dark {
    color-scheme: dark;
}


* {
    box-sizing: border-box;
}

/* Calendar styles */
.rdp-root {
    --rdp-accent-color: var(--wp--preset--color--primary);
    --rdp-accent-background-color: var(--wp--preset--color--background);
    --rdp-selected-border: 2px solid var(--wp--preset--color--primary);
    --rdp-day-width: 500px;
}

.rdp-nav {
    align-items: flex-start;
}

.rdp-month_caption {
    align-items: flex-start;
}